.intro
	width 90rem
	margin 0 auto
	padding-top 10rem
	text-align center
	&._static
		padding-top 2rem
		
	&__sub-title
		font-size 2.2rem
		color #999
	&__title
		font-size 3rem
		text-align center
		margin-bottom 2rem
			
	&__pre
		margin 1rem 0rem
		
	&__helloween
		transition all .4s
		sprite(helloween-big, 25%)
		&:hover
			sprite(helloween-big, 50%)

	&__sword
		sprite(sword)
	
	&__eye
		width 5rem
		height 5rem
		transition color .4s
		&:hover
			color #ccc
	&__list
		text-align	left
		list-style none
		margin-bottom 1rem
		width 60rem
		margin 0 auto 10rem
		
	&__list-item
		display block
		margin-bottom 1rem
		
	&__list-img
		display block
		margin 1rem auto
		max-width 100%
		
	&__static-text
		display block
		margin 3rem auto 3rem